.github_user {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
        "avatar info repos";
    word-wrap: break-word;
    min-height: 150px;

    .github_user_avatar {
        grid-area: avatar;

        img {
            width: 100%;
        }
    }

    .github_user_info {
        grid-area: info;
    }

    .github_user_repos {
        grid-area: repos;

    }
}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 980px) {
    .github_users_wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .github_user {
        grid-template-columns: 100%;
        grid-template-areas: 
        "avatar"
        "info"
        "repos";
    }
}

@media only screen and (max-width: 400px) {
    .github_user {
        grid-template-columns: 100%;
        grid-template-areas: 
        "avatar"
        "info"
        "repos";
    }
}